# Instagram Post Reach Prediction

In [23]:
#import pandas
import pandas as pd

In [24]:
#import the dataset
df = pd.read_csv('https://raw.githubusercontent.com/WidhyaOrg/datasets/master/instagram_reach.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         100 non-null    int64
 1   S.No               100 non-null    int64
 2   USERNAME           100 non-null    object
 3   Caption            94 non-null     object
 4   Followers          100 non-null    int64
 5   Hashtags           100 non-null    object
 6   Time since posted  100 non-null    object
 7   Likes              100 non-null    int64
dtypes: int64(4), object(4)
memory usage: 6.4+ KB

In [25]:
df.dtypes

Unnamed: 0            int64
S.No                  int64
USERNAME             object
Caption              object
Followers             int64
Hashtags             object
Time since posted    object
Likes                 int64
dtype: object

In [26]:
df.describe()

       Unnamed: 0        S.No   Followers      Likes
count  100.000000  100.000000   100.00000  100.00000
mean     8.940000   16.240000   961.96000   46.48000
std      6.639064    7.384286  1014.62567   55.08698
min      0.000000    1.000000    11.00000    8.00000
25%      4.000000   10.750000   252.75000   19.00000
50%      8.000000   16.500000   612.00000   29.00000
75%     12.250000   22.250000  1197.00000   46.00000
max     26.000000   30.000000  4496.00000  349.00000

In [27]:
df.head(n=10)

,Unnamed: 0,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11 hours,139
1,1,2,drgorillapaints,We all know where itâ€™s going. We just have toÂ ...,880,#deckÂ .#macÂ #macintosh#sayhelloÂ #appleÂ #steve...,2 hours,23
2,2,3,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswhoÂ #aitradingÂ #aiÂ #aitradingteam#instat...,2 hours,25
3,3,4,opensourcedworkplace,sfad,340,#iotÂ #cre#workplaceÂ #CDOÂ #bigdataÂ #technology#...,3 hours,49
4,4,5,crea.vision,Ever missed a call while your phone was chargi...,304,#instamachinelearningÂ #instabigdata#instamarke...,3 hours,30
5,5,6,be.masterly,Cyber attacks are more frequent every day and ...,1231,#edtechÂ #learning#educationtechnologyÂ #tech #l...,3 hours,18
6,6,7,lenovoworkstations,Check it out â€“ weâ€™re walking across the ðŸŒŽâ€™s fi...,259,.#Techâ€¨#virtualrealityâ€¨#IoTâ€¨#Machinelearning,3 hours,35
7,7,8,kirellb,Here's a network I made that depicts the scien...,1433,#datascientistÂ #creativetechnology#designÂ #art...,4 hours,86
8,8,9,ethicsandai,Having a great week atÂ @ldntechweekÂ exploring ...,13,#LTWÂ #LondonÂ #TechXLR8Â #Technology#AIÂ #Artific...,4 hours,22
9,9,10,diworksolucionesdeti,The Internet of Things : A Very Short Story [#...,450,[#Infographic]Â #WearableÂ #SensorsÂ #MachineLear...,7 hours,18

In [28]:
#check for null values
df.isnull().sum()

Unnamed: 0           0
S.No                 0
USERNAME             0
Caption              6
Followers            0
Hashtags             0
Time since posted    0
Likes                0
dtype: int64

In [29]:
#selecting required features
df = df[['Followers','Time since posted','Likes']]
df['Time since posted']

0     11 hours
1      2 hours
2      2 hours
3      3 hours
4      3 hours
        ...
95     3 hours
96     3 hours
97     3 hours
98     3 hours
99     3 hours
Name: Time since posted, Length: 100, dtype: object

In [30]:
#converting 'Time since posted' from string to integer

time_list = df['Time since posted'].tolist()
time_list = list(map(lambda st: str.replace(st, " hours", ""), time_list))

for i in range(0, len(time_list)): 
    time_list[i] = int(time_list[i]) 

df['Time since posted'] = pd.DataFrame(time_list)
df.head(n=10)

   Followers  Time since posted  Likes
0       1600                 11    139
1        880                  2     23
2        255                  2     25
3        340                  3     49
4        304                  3     30
5       1231                  3     18
6        259                  3     35
7       1433                  4     86
8         13                  4     22
9        450                  7     18

In [32]:
#splitting input and output variables
x= df.iloc[:,:-1]
y= df.iloc[:,-1]

In [33]:
#splitting train and test set
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.2, random_state= 21)

In [34]:
#Model the train set

from sklearn.linear_model import LinearRegression

model_lr = LinearRegression()
model_lr.fit(x_train,y_train)
y_pred = model_lr.predict(x_test)

In [42]:
#RMSE - to capture smallest of errors
from sklearn.metrics import mean_squared_error
import numpy as np

print(np.sqrt(mean_squared_error(y_test,y_pred)))

66.95985677594037